*{
    text-align: center ;
}
body{
    background-color: bisque;
}
h1{
    font-family: Arial;
}
button{
    background-color: greenyellow;
    border: 0px;
    padding: 10px 10px;
    font-family: Helvetica;
}
p{
    background-color: white;
}
